.gradient-cus{
  background: linear-gradient(#bee3ed,#a7d3e2);

}

.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(132, 250, 176, 0.5),
    rgba(143, 211, 244, 0.5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 0.5),
    rgba(143, 211, 244, 0.5)
  );
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );
}
.under-line {
  padding-top: 0;
  margin-top: 0;
}
.workshop-heading {
  margin-bottom: 5px;
  padding-bottom: 0;
}
.tevent-heading {
  margin-bottom: 5px;
  padding-bottom: 0;
}
.ntevent-heading {
  margin-bottom: 5px;
  padding-bottom: 0;
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 5px;
}
.workshop-title {
  margin-left: 5px;
}
.tevent-title {
  margin-left: 5px;
}
.ntevent-title {
  margin-left: 5px;
}
