<app-header></app-header>
<div class="aaa2">
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post content-->
      <article>
        <!-- Post header-->
        <header class="mb-4 pt-5">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1">Ethical Hacking Workshop</h1>
          <!-- Post meta content-->
          <div class="text-muted fst-italic mb-2" style="font-weight: bold;">
            ** Certifications from IIT-Bombay **<br />
            ** 30 Guaranteed Internships will be awarded **
          </div>
          <!-- Post categories-->

        </header>
        <!-- Preview image figure-->
        <figure class="mb-3">
          <img
            class="img-fluid rounded" loading="lazy"
            src="assets/images/vecteezy_internet-security-protection-from-hacker-attacking-cyber_6198869_938.jpg"
            alt="..."
          />
        </figure>
        <!-- Post content-->
        <section class="mb-5">
          <h4 class="fw-bolder mb-3 mt-5">About</h4>
          <p class="fs-6 mb-4">
            Ethical hacking is to crack passwords or to steal data? No, it is
            much more than that. It involves an authorized attempt to gain
            unauthorized access to a computer system, application, or data.
          </p>
          <p class="fs-6 mb-3">
            Carrying out an ethical hack involves duplicating strategies and
            actions of malicious attackers. This practice helps to identify
            security vulnerabilities which can then be resolved before a
            malicious attacker has the opportunity to exploit them.
            Ethical hackers are highly skilled individuals who have undergone extensive training in computer security and hacking techniques.
            There is a high demand for skilled ethical hackers, as businesses and government agencies seek to improve their cybersecurity.
          </p>
          <h4 class="fw-bolder mb-3 mt-5">Objective</h4>
          <p class="fs-6 mb-4">
            The striving motto of this workshop is to provide a multi-faceted
            view and learnings of “Ethical Hacking for the aspirants.” The
            potent takeaways include -
          </p>
          <ul class="fs-6 mb-3">
            <li>
              Firstly, the workshop gives a student an insight of the Ethical
              Hacking i.e compromise of email hacking DOS attacks SQL Injection
              etc.
            </li>
            <li>
              Exposure to Ethical Hacking the latest tools and methods being
              used by cyber criminals & terrorists and how ethical Hackers can
              fight them.
            </li>
            <li>
              The significant benefits and real-time use cases of Ethical hacking into limelight.
            </li>
          </ul>

          <h4 class="fw-bolder mb-3 mt-5">Glimpses Of The Workshop</h4>
          <p class="fs-6 mb-3">Session I</p>
          <ul class="fs-6 mb-4">
            <li>Computer Security Basics</li>
            <li>Windows Hacking</li>
            <li>Hacking Mailing Clients and spamming(using tools)</li>
            <li>Steganography</li>
            <li>Earning Money Online</li>
          </ul>
          <p class="fs-6 mb-3">Session II</p>
          <ul class="fs-6 mb-4">
            <li>Basics of Internet</li>
            <li>Networking and Hacking</li>
            <li>SQL Injection Using DVWA</li>
          </ul>
          <p class="fs-6 mb-3">Session III</p>
          <ul class="fs-6 mb-4">
            <li>Man in the Middle Attack (MITM)</li>
            <li>Phishing, Trojan, Worms and Viruses</li>
          </ul>
          <p class="fs-6 mb-3">Session IV</p>
          <ul class="fs-6 mb-4">
            <li>Email Forging and Cyber Laws</li>
            <li>And many more mouth watering content....</li>
          </ul>
          <h4 class="fw-bolder mb-3 mt-5">Registration</h4>
          <p class="fs-6 mb-3">Workshop registration fee is 600/- per member</p>
          <h4 class="fw-bolder mb-3 mt-5">Duration</h4>
          <p class="fs-6 mb-3">
            The duration of this workshop will be two consecutive days, with 6-7
            hour session each day in a total of 12-14 hours.
          </p>
          <h4 class="fw-bolder mb-3 mt-5">Certification Policy</h4>
          <ul class="fs-6 mb-3">
            <li>
              Certificate of Merit for all the workshop participants from
              <span class = "fw-bolder">IIT Bombay </span>& Anvira Edustation.
            </li>
            <li>
              At the end of this workshop, a small competition will be organised
              among the participating students and winners will be awarded with
              a 'Certificate of Excellence'.
            </li>
            <li>
              Certificate of Coordination for the coordinators of the campus
              workshops.
            </li>
          </ul>
          <h4 class="fw-bolder mb-3 mt-5">Highlights</h4>
          <p class="fs-6 mb-3">
            A guaranteed internship with stipend will be provided to top 30
            members.
          </p>
          <h4 class="fw-bolder mb-3 mt-5">Eligibility</h4>
          <p class="fs-6 mb-3">
            It's a basic level workshop so there are no prerequisites. Anyone
            interested, can join this workshop.
          </p>
        </section>
      </article>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4 pa1">
      <!-- Search widget-->

      <!-- Categories widget-->

      <!-- Side widget-->
      <div class="card mb-4">
        <div class="card-header aaa1">Contact Details</div>
        <div class="card-body">
          G. Koteshwarao
        </div>
        <div class="card-body">
          M.V.N. Yamini
        </div>
        <div class = "card-body"><span class="fa fa-phone">&nbsp;7794927034</span></div>
        <div class="card-body">
          <a href = "mailto:ethicalhacking.zeitgeist@gmail.com" style="color: black;"> <span class="fa fa-envelope"
            >&nbsp;ethicalhacking.zeitgeist@gmail.com</span
          ></a>

        </div>
      </div>
    </div>
  </div>
</div>
</div>

<app-footer></app-footer>
