<app-header></app-header>
<div class="aaa2">
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post content-->
      <article>
        <!-- Post header-->
        <header class="mb-4 mt-5">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1">Code Wars</h1>
          <!-- Post meta content-->
        </header>
        <!-- Preview image figure-->
        <figure class="mb-3">
          <img
            class="img-fluid rounded" loading="lazy"
            src="assets/images/codewars.png"
            alt="..."
          />
        </figure>
        <!-- Post content-->
        <section class="mb-5">
          <h4 class="fw-bolder mb-3 mt-5">About</h4>
          <p class="fs-6 mb-4">
            "It's hard enough to find an error in your code when you're looking
            for it; it's even harder when you've assumed your code is
            error-free". We are fascinated to bring you all Code Wars,the core
            competitive programming contest of Zeitgeist '23.Programming isn't
            about what you know;it's about what you can figure out.Are you ready
            to take part in this mind sport which needs your passion,dedication
            ,patience,skill and the ability to solve questions in thay
            constrained time.So it is time to prove yourself and show case your
            adroitness.Seize the oppurtunity and get ready for it.
          </p>
          <h4 class="fw-bolder mb-3 mt-5">Event Format</h4>
          <ul class="fs-6 mb-3">
            <li>Code wars is a online programming contest.</li>
            <li>
              You will be given problems based on DSA on a coding platform which
              is to be declared soon.
            </li>
            <li>
              The difficulty level of questions are from easy to moderate and
              you need to code it in the allocated time.
            </li>
            <li>
              The contest goes on for a week and the winner will be annouced on
              our social media handle.
            </li>
          </ul>
          <h4 class="fw-bolder mb-3 mt-5">Registration Fee</h4>
          <p class="fs-6 mb-3">Registration fee is 300/- per member</p>

          <h4 class="fw-bolder mb-3 mt-5">Topics</h4>
          <p class="fs-6 mb-3">Will be announced soon...</p>
          <h4 class="fw-bolder mb-3 mt-5">Instructions</h4>
          <ul class="fs-6 mb-3">
            <li>
              Please make sure to follow our all social media handles as we post
              the updates about the events.
            </li>
            <li>
              Participation is individual and is open to students of any domain.
            </li>

            <li>
              Feel free to reach out to the co-ordinators on any minute queries.
            </li>

            <li>
              You can contact any time or mail your query to the provided mail
              id or contact numbers.
            </li>
          </ul>
          <h4 class="fw-bolder mb-3 mt-5">Prizes</h4>
          <p class="fs-6 mb-3">Will be announced soon</p>
        </section>
      </article>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4 pa1">
      <!-- Search widget-->

      <!-- Categories widget-->

      <!-- Side widget-->
      <div class="card mb-4">
        <div class="card-header aaa1">Contact Details</div>
        <div class="card-body">
          B. Mithilesh chowdary

        </div>
        <div class="card-body">
          B. Supraja
        </div>
        <div class="card-body"><span class="fa fa-phone">&nbsp;7993960094</span></div>
        <div class="card-body">
          <a href = "mailto:zeitgeist23codewars@gmail.com" style="color: black;"><span class="fa fa-envelope"
            >&nbsp;zeitgeist23codewars@gmail.com</span
          ></a>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
