<app-header></app-header>
<div class="aaa2">
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post content-->
      <article>
        <!-- Post header-->
        <header class="mb-4 mt-5">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1">Data Science Workshop</h1>
          <!-- Post meta content-->
          <div class="text-muted fst-italic mb-2" style="font-weight: bold;">
            ** Certifications from IIT-Bombay ** <br/>
            ** Internships will be awarded based on the performance **
          </div>
        </header>
        <!-- Preview image figure-->
        <figure class="mb-3">
          <img
            class="img-fluid rounded w-100" loading="lazy"
            src="assets/images/datascience.jpeg"
            alt="..."
          />
        </figure>
        <!-- Post content-->
        <section class="mb-5">
          <h4 class="fw-bolder mb-3 mt-5">About</h4>
          <p clss="fs-6 mb-4">
            Data science is constantly evolving, with new techniques and tools
            being developed all the time. Staying up to date with the latest
            developments is essential for data scientists who want to stay
            competitive in the field.
          </p>
          <p class="fs-6 mb-4">
            Data has real value and every information extracted from it can make
            or break businesses. Being adept in Decision Science therefore,
            comes with its own powers. No data is clean but most is useful. Data
            science is all about asking the correct questions and analyzing the
            raw data. Data Analytics is the future and future is NOW!!
          </p>
          <p class="fs-6 mb-3">

          </p>
          <h4 class="fw-bolder mb-3 mt-5">Objective</h4>
          <p class="fs-6 mb-4">
            The striving motto of this workshop is to provide a multi-faceted
            view and learnings of “Data Science” for the aspirants. The potent
            takeaways include -
          </p>
          <ul class="fs-6 mb-3">
            <li>
              An Overall understanding of Data Science tools,technologies and
              its applications.
            </li>
            <li>Learnings about Data analysis and Statistical analysis.</li>
            <li>
              A complete overview on machine learning algorithms and data
              visualization.
            </li>
            <li>
              The major benefits and real-time applications into limelight.
            </li>
          </ul>

          <h4 class="fw-bolder mb-3 mt-5">Glimpses Of The Workshop</h4>
          <p class="fs-6 mb-3">Session I : Introduction to Data Science</p>
          <!-- <ul class = "fs-6 mb-4">
                    <li>Transformation in trading units.
                    </li>
                    <li>Cryptography and Crypto-currency
                    </li>
                    <li>Anonymity and Pseudonymity in Cryptocurrencies
                    </li>
                    <li>
                      Digital Signatures
                    </li>
                    <li>
                      Cryptocurrency Hash codes
                    </li>
                    <li>Peer to peer networks(structured and unstructured)</li>

                  </ul> -->
          <p class="fs-6 mb-3">
            Session II : Data Wrangling and Exploratory Data Analysis
          </p>
          <!-- <ul class = "fs-6 mb-4">
                    <li> Introduction to Blockchain and its Origin.
                    </li>
                    <li>Why Blockchain is crucial and its objectives
                    </li>
                    <li>Anonymity and Pseudonymity in Cryptocurrencies
                    </li>
                    <li>
                      Digital Signatures
                    </li>
                    <li>
                      Cryptocurrency Hash codes
                    </li>
                    <li>Peer to peer networks(structured and unstructured)</li>

                  </ul> -->
          <p class="fs-6 mb-3">
            Session III : Statistical Analysis and Hypothesis Testing
          </p>
          <p class="fs-6 mb-3">Session IV : Machine Learning Algorithms</p>
          <p class="fs-6 mb-3">
            Session V : Data Visualization and Communication
          </p>
          <p class="fs-6 mb-3">Session VI : Capstone Project</p>
          <h4 class="fw-bolder mb-3 mt-5">Registration</h4>
          <p class="fs-6 mb-3">Workshop's registration fee is 600/- per member</p>
          <h4 class="fw-bolder mb-3 mt-5">Duration</h4>
          <p class="fs-6 mb-3">
            The duration of this workshop will be two consecutive days, with 6-7
            hour session each day in a total of 12-14 hours.
          </p>
          <h4 class="fw-bolder mb-3 mt-5">Certification Policy</h4>
          <ul class="fs-6 mb-3">
            <li>
              Certificate of Merit for all the workshop participants from
              <span class = "fw-bolder">IIT Bombay</span> & Anvira Edustation.
            </li>
            <li>
              At the end of this workshop, a small competition will be organised
              among the participating students and winners will be awarded with
              a 'Certificate of Excellence'.
            </li>
            <li>
              Certificate of Coordination for the coordinators of the campus
              workshops.
            </li>
          </ul>
          <h4 class="fw-bolder mb-3 mt-5">Eligibility</h4>
          <p class="fs-6 mb-3">
            It's a basic level workshop so there are no prerequisites. Anyone
            interested, can join this workshop.
          </p>
        </section>
      </article>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4 pa1">
      <!-- Search widget-->

      <!-- Categories widget-->

      <!-- Side widget-->
      <div class="card mb-4">
        <div class="card-header aaa1">Contact Details</div>
        <div class="card-body">
          M. Sathwick Reddy -
        </div>
        <div class="card-body">
          V. Geetha Priya
        </div>
        <div class = "card-body"><span class="fa fa-phone">&nbsp;8106142237</span></div>
        <div class="card-body">
          <a href = "mailto:datascience.zeitgeist@gmail.com" style="color: black;"><span class="fa fa-envelope"
            >&nbsp;datascience.zeitgeist@gmail.com</span
          ></a>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
