<app-header></app-header>
<!-- <p>technical-events works!</p> -->
<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="./assets/images/IMG_20221020_225859.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->
   <!-- <head>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>  -->
    <div class="pt-5 aaa2">
        <!-- <div class="tech-card" style="width: 18rem;">
            <img class="card-img-top" src="./jntu.jfif" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="tech-card" style="width: 18rem;">
            <img class="card-img-top" src="./jntu.jfif" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="tech-card" style="width: 18rem;">
            <img class="card-img-top" src="./jntu.jfif" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div> -->
            <div class="container-fluid mt-5">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-4 pointer mb-5 pt-5">
                      <a style="flex: 1; text-decoration: none; color: black;" href = "hackathon()">
                      <div class="card text-center">
                        <img loading="lazy" class = "card-1"src="assets/images/hackathon2.jpg" alt="technical-img"/>
                        <h1>Hackathon</h1>
                      </div>
                      </a>
                    </div>
                    <div class="col-sm-4 pointer pt-5 mb-5">
                      <a style="flex: 1; text-decoration: none; color: black;" href = "presentit()">
                      <div class="card text-center">
                        <img loading="lazy" class = "card-1" src="assets/images/paper.png" alt="technical-img"/>
                        <h1>Present It</h1>
                      </div>
                      </a>
                    </div>
                    <div class="col-sm-4 pointer pt-5 mb-5">
                      <a style="flex: 1; text-decoration: none; color: black;" href = "projectpresentation()">
                      <div class="card text-center">
                        <img loding = "lazy" class = "card-1"src="assets/images/presentoo.jpeg" alt="technical-img"/>
                        <h1>Projekto</h1>
                      </div>
                      </a>
                    </div>
                    <div class="col-sm-4 pointer pt-4 mb-5">
                      <a style="flex: 1; text-decoration: none; color: black;" href = "codeknights()">
                      <div class="card text-center">
                        <img loading="lazy" class = "card-1"src="assets/images/codeknights.jpg" alt="technical-img"/>
                        <h1>Code Knights</h1>
                      </div>
                      </a>
                    </div>
                    <div class="col-sm-4 pointer pt-4 mb-5">
                      <a style="flex: 1; text-decoration: none; color: black;" href = "geekout()">
                      <div class="card text-center">
                        <img loading = "lazy"class = "card-1"src="assets/images/geekout.jpg" alt="technical-img"/>
                        <h1>Geek Out</h1>
                      </div>
                      </a>
                    </div>
                    <div class="col-sm-4 pointer pt-4 mb-5">
                      <a style="flex: 1; text-decoration: none; color: black;" href = "bughunt()">
                      <div class="card text-center">
                        <img loading = "lazy" class = "card-1"src="assets/images/debug.png" alt="technical-img"/>
                        <h1>Bug Hunt</h1>
                      </div>
                      </a>
                    </div>
                    <div class="col-sm-4 pointer pt-4 mb-5">
                      <a style="flex: 1; text-decoration: none; color: black;" href = "techtalk()">
                      <div class="card text-center">
                        <img loading ="lazy" class = "card-1"src="assets/images/techtalk.jpg" alt="technical-img"/>
                        <h1>Tech Talk</h1>
                      </div>
                      </a>
                    </div>
                  </div>

                </div>
              </div>
    </div>
<app-footer></app-footer>
