<app-header></app-header>
<div class="container-fluid body aaa1">
  <section class="text-start pa1">
    <h3 class = "fw-bold">About Us</h3>
    <p>
      Zeitgeist is a National level Technical Carnival organised by the
      department of Computer science and engineering, JNTUK on March 25&26. In a nutshell, it
      brings into limelight the emerging technologies in the present day world
      and provides an exposure to learn, explore and further ace the domains of
      choice in CSE. This is an amalgamation of testing both the theoretical and
      practical approaches towards the subject through various events and
      workshops on one end and refreshing activities to break through the
      monotony of everyday lives on the other.
    </p>
    <p>
      This fest is centred in the town of Kakinada at UCEK, JNTU. We, the
      Computer Science students are designing the entire arena in a manner that
      gives guidance and hands-on exposure on cutting-edge technologies like
      Blockchain, Data science at the potent best. The broad spectrum of events
      to be held also range from inquisitive quiz contests to innovative project
      presentations. Complementing these technical aspects, the cultural fest,
      Cultivo and fun-filled activities are going to help participants break the
      ice and experience delight in the entire aura.
    </p>
    <p>
      On this exuberant note, we wholeheartedly welcome the students to come and
      join us in Zeitgeist 2023.
    </p>
    <h4>
      <span class="fw-bold">Head Of the Department:</span>
    </h4>
    <h5 class="">Dr.O.S Rao (Professor), JNTU Kakinada</h5>

    <h4>
      <span class="fw-bold">Faculty Coordinators:</span>
    </h4>
    <h5 class="">Dr. Surekha (Asst. Professor), JNTU Kakinada</h5>
    <h5 class="">Dr.A. Karuna (Asst. Professor), JNTU Kakinada</h5>
  </section>
</div>
<app-footer></app-footer>
