<app-header></app-header>
<div class="aaa2">
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post content-->
      <article>
        <!-- Post header-->
        <header class="mb-4 mt-5">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1">BRAIN IT EVENT</h1>
          <!-- Post meta content-->
        </header>
        <!-- Preview image figure-->
        <figure class="mb-3">
          <img
            class="img-fluid rounded" loading="lazy"
            src="assets/images/brainit.png"
            alt="..."
          />
        </figure>
        <!-- Post content-->
        <section class="mb-5">
          <h4 class="fw-bolder mb-3 mt-5">About</h4>
          <p class="fs-6 mb-4">
            <span class="fw-bolder"
              >“The brain is a universe of ideas, a galaxy of thoughts, and a
              constellation of emotions.”</span
            >
            Hang On! CS Peeps, it's time to unveil this unique universe.
          </p>
          <p class="fs-6 mb-4">
            BRAIN IT - A multifaceted brainstorming event blended with a mix of
            riddles, puzzles and brain teasers all in all. It's an opportunity
            to set the wings free for imagination to meet the best possible
            realities. Triggering your intellect and interest, BRAIN IT would be
            a great choice to put your mind to its grind. So, get ready to race
            your thoughts & ace their actions.
          </p>
          <h4 class="fw-bolder mb-3 mt-5">Event Format</h4>
          <ul class="fs-6 mb-3">
            <li>The duration of the event is 60 min</li>
            <li>
              This would be an online event hosted via the website itself.
            </li>
            <li>The participation is accepted as individuals only.</li>
            <li>
              The number and format of the questions would be specified prior to
              the start.
            </li>
            <li>
              The domain of questions is an open interval and comprises both
              technical and general ones.
            </li>
          </ul>
          <h4 class="fw-bolder mb-3 mt-5">Registration Fee</h4>
          <p class="fs-6 mb-3">Registration fee is 300/- per member</p>

          <h4 class="fw-bolder mb-3 mt-5">Prizes</h4>
          <p class="fs-6 mb-3">Will be announced soon</p>
        </section>
      </article>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4 pa1">
      <!-- Search widget-->

      <!-- Categories widget-->

      <!-- Side widget-->
      <div class="card mb-4">
        <div class="card-header aaa1">Contact Details</div>
        <div class="card-body">
          K. Dileep Kumar

        </div>
        <div class="card-body">
          B. Meher Manognya
        </div>
        <div class="card-body"><span class="fa fa-phone">&nbsp;9110323708</span></div>
        <div class="card-body">
          <a href="mailto:brainit.zeitgeist@gmail.com" style="color: black"><span class="fa fa-envelope">&nbsp;brainit.zeitgeist@gmail.com</span></a>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
