<app-header></app-header>
<div class="aaa2">
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post content-->
      <article>
        <!-- Post header-->
        <header class="mb-4 mt-5">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1">WE-CODE HACKATHON EVENT</h1>
          <!-- Post meta content-->

        </header>
        <!-- Preview image figure-->
        <figure class="mb-3">
          <img
            class="img-fluid rounded w-100"
            src="assets/images/hackathon.jpg"
            loading="lazy"
            alt="..."
          />
        </figure>
        <!-- Post content-->
        <section class="mb-5">
          <h4 class="fw-bolder mb-3 mt-5">About</h4>
          <p class="fs-6 mb-4">
            A hackathon's aim is to generate idea of concepts among participants. Hosts might search for potential prototypes that are good candidates for production or even hire a qualified and promising person for their teams.
          </p>
          <p class="fs-6 mb-4">
            Zeitgeist_2K23, along with JNTU KAKINADA, brings forth the Hackathon event,WE-CODE  that has garnered massive attention amongst the tech heads. This time, Hackathon is back to emphasize teamwork, learning, and innovation through the generation of novel technologies and prototypes that address significant concerns.
          </p>
          <h4 class="fw-bolder mb-3 mt-5">Event Format</h4>
          <ul class="fs-6 mb-3">

            <li>
              3-5 participants per team allowed. OPEN FOR BOTH BOYS AND GIRLS TEAM
            </li>
            <li>A real world problem  will be given to teams at the time of event along with particular time hours.</li>
          </ul>
          <h4 class="fw-bolder mb-3 mt-5">Registration Fee</h4>
          <p class="fs-6 mb-3">The fee is 300/- per member</p>
          <h4 class="fw-bolder mb-3 mt-5">Topics</h4>
          <p class="fs-6 mb-3">Will be announced soon</p>
          <h4 class="fw-bolder mb-3 mt-5">Instructions</h4>
          <ul class="fs-6 mb-3">
            <li>
              Better register online , as spot registrations are very much
              limited.
            </li>
            <li>
              A maximum of four students per team are allowedand is open to students of any domain.
            </li>
            <li>
              Please restrain yourself from using or bringing mobile phones or
              any digital equipment, while attending WE-CODE.
            </li>
            <li>
              Feel free to reach out to the co-ordinators on any minute queries.
            </li>
            <li>
              You can contact any time or mail your query to the provided
              mail id or contact numbers.
            </li>
          </ul>
          <h4 class="fw-bolder mb-3 mt-5">Prizes</h4>
          <p class="fs-6 mb-3">Will be announced soon</p>
        </section>
      </article>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4 pa1">
      <!-- Search widget-->

      <!-- Categories widget-->

      <!-- Side widget-->
      <div class="card mb-4">
        <div class="card-header aaa1">Contact Details</div>
        <div class="card-body">
          A.Pramod Kumar

        </div>
        <div class="card-body">
          P. Sneha
        </div>
        <div class="card-body"><span class="fa fa-phone">&nbsp;8688104905</span></div>
        <div class="card-body">
          <span class="fa fa-envelope">&nbsp;hackathonzeitgeist@gmail.com</span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
