<app-header></app-header>
<div class="aaa2">
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post content-->
      <article>
        <!-- Post header-->
        <header class="mb-4 mt-5">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1">Project Presentation</h1>
          <!-- Post meta content-->
        </header>
        <!-- Preview image figure-->
        <figure class="mb-3">
          <img
            class="img-fluid rounded"
            src="assets/images/pp2.jpg"
            loading="lazy"
            alt="..."
          />
        </figure>
        <!-- Post content-->
        <section class="mb-5">
          <h4 class="fw-bolder mb-3 mt-5">About</h4>
          <p class="fs-6 mb-4">
            We bring you “Project Presentations” to enhance your ability to
            deliver PowerPoint presentations and to improve your technical
            skills as an individual. The presentation complements the project
            demo. It gives evaluators a chance to clear up doubts by asking
            questions on the spot. These presentations help to understand the
            main motive of the project.
          </p>
          <p class="fs-6 mb-4">
            Some evaluators prefer to attend the presentation first and read the
            report later. In such a case, the presentation creates the first
            impression of your project in the mind of the evaluator. It's
            mandatory to show the implementation of your project. In case of no
            implementation of your project, the team will be disqualified in the
            second round.
          </p>
          <h4 class="fw-bolder mb-3 mt-5">Event Format</h4>
          <ul class="fs-6 mb-3">
            <li>Event is of 2 stages</li>
            <li>
              Round 1: Every team is allowed to submit the abstract of their
              project. Among them, 10 - 15 teams were selected and they will
              send for round 2.
            </li>
            <li>
              Round 2: The teams will show their project presentation and the
              implementation of their project and the final winners will be
              announced before march 26th.
            </li>
          </ul>
          <h4 class="fw-bolder mb-3 mt-5">Registration Fee</h4>
          <p class="fs-6 mb-3">The registration fee is 300/- per member</p>

          <h4 class="fw-bolder mb-3 mt-5">Instructions</h4>
          <ul class="fs-6 mb-3">
            <li>Abstract of the project should be submitted first to Gmail.</li>
            <li>
              After submitting we verify your abstract and then we sent the
              mail, if you were selected to the event and then only you must
              register.
            </li>
            <li>If your selected we sent the response to you in Gmail.</li>
            <li>
              10 - 15 Teams are selected and they should attend the event in
              JNTUK college at the project presentation respectively.
            </li>
            <li>The selected teams will get a participation certificate.</li>
            <li>
              Among the selected teams, one team will be the winner of the
              project presentation event.
            </li>
            <li>Team limit: The team should contain 1-3 members.</li>
            <li>
              The competitors are required to prepare the presentations on your
              project and that must be related to emerging and popular
              technologies in Computer Science.
            </li>
            <li>Keep Your Presentation Slides Short.</li>
            <li>Use Less Text and More Visuals.</li>
          </ul>
          <p class="fs-6 mb-3">
            <span class="fw-bolder">Note</span>When you sent the abstract to our
            mail mentioned in the contact section, we verify and sent the
            response if your selected, without our response you shouldn’t
            register for the event if you are then we are not responsible for
            the issues you face.
          </p>
          <h4 class="fw-bolder mb-3 mt-5">Prizes</h4>
          <p class="fs-6 mb-3">Will be announced soon</p>
        </section>
      </article>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4 pa1">
      <!-- Search widget-->

      <!-- Categories widget-->

      <!-- Side widget-->
      <div class="card mb-4">
        <div class="card-header aaa1">Contact Details</div>
        <div class="card-body">
          J. Balakrishna

        </div>
        <div class="card-body">P. Sireesha</div>
        <div class="card-body"><span class="fa fa-phone">&nbsp;7286924380</span></div>
        <div class="card-body">
          <a href = "mailto:projekto.zeitgeist@gmail.com" style="color:black;"><span class="fa fa-envelope">&nbsp;projekto.zeitgeist@gmail.com</span></a>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
