<app-header></app-header>
<div class="content">
  <div class="container">
    <div class="row align-items-stretch no-gutters contact-wrap">
      <div class="col-md-8">
        <div class="form h-100">
          <h3 class="aa2">Send us a message</h3>
          <form class="mb-5" method="post" id="contactForm" name="contactForm">
            <div class="row">
              <div class="col-md-6 form-group mb-5">
                <label for="" class="col-form-label">Name *</label>
                <input
                  type="text"
                  class="form-control"
                  ngModel
                  name="user"
                  id="user"
                  placeholder="Your Name"
                />
              </div>
              <div class="col-md-6 form-group mb-5">
                <label for="" class="col-form-label">Email *</label>
                <input
                  type="text"
                  class="form-control"
                  ngModel
                  name="email"
                  id="email"
                  placeholder="Your Email"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 form-group mb-5">
                <label for="" class="col-form-label">Subject *</label>
                <input
                  type="text"
                  class="form-control"
                  ngModel
                  name="subject"
                  id="subject"
                  placeholder="Subject"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 form-group mb-5">
                <label for="message" class="col-form-label">Message *</label>
                <textarea
                  class="form-control"
                  name="message"
                  ngModel
                  id="message"
                  cols="30"
                  rows="4"
                  placeholder="Write Your Message"
                ></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <input
                  type="submit"
                  value="Send Message"
                  class="btn btn-primary rounded-0 py-2 px-4"
                />
                <span class="submitting"></span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-info h-100" style="color: white">

          <ul class="list-unstyled" style="color: white">
            <h3 class="aa2">Event Details</h3>
            <ul class="list-unstyled aa2" style="color: white">
              <li style="color: white; font-size: 20px;"><strong>March: </strong>25 & 26</li>
              <p>
                <i class="fa fa-address-card me-3"></i>533003 U.C.E.K, JNTU
                Kakinada,
              </p>

              <li class="d-flex">
                <span class="wrap-icon icon-envelope mr-3"></span>
                <span
                  class="text fa fa-envelope"
                  style="color: white; font-size: 18px"
                  >&nbsp;&nbsp;&nbsp;info@zeitgeistjntuk.com</span
                >
              </li>
              <br />
              <h3 class="aa2">Contact Information</h3>
              <li class="d-flex">
                <span class="wrap-icon icon-phone mr-3"></span>
                <span
                  class="text fa fa-phone"
                  style="color: white; font-size: 18px"
                >
                  &nbsp;&nbsp;<a style = "color:white;"href="tel:8520860773">8520860773 - D. Yaswanth</a></span
                >
              </li>
              <li class="d-flex">
                <span class="wrap-icon icon-phone mr-3"></span>
                <span
                  class="text fa fa-phone"
                  style="color: white; font-size: 18px"
                >
                  &nbsp;&nbsp;<a style="color: white;" href="tel:9666460735">9666460735 - K. Raju</a></span
                >
              </li>
              <li class="d-flex">
                <span class="wrap-icon icon-phone mr-3"></span>
                <span
                  class="text fa fa-phone"
                  style="color: white; font-size: 18px"
                >
                  &nbsp;&nbsp;<a style="color: white;" href = "tel:9390788858">9390788858 - M. Akhilesh</a></span
                >
              </li>
              <li class="d-flex">
                <span class="wrap-icon icon-phone mr-3"></span>
                <span
                  class="text fa fa-phone"
                  style="color: white; font-size: 18px"
                >
                  &nbsp;&nbsp;<a style = "color: white;"href="tel:7993960094">7993960094 - B. Mithilesh Chowdary</a></span
                >
              </li>
              <br />

              <br />
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3815.933024498708!2d82.23932698464758!3d16.97784444970888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a382841f6c85e87%3A0xc6eb0bb930e1903a!2sCSE%20department%20-%20Jawaharlal%20Nehru%20Technological%20University%2C%20Kakinada!5e0!3m2!1sen!2sin!4v1676973946736!5m2!1sen!2sin"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
<app-footer></app-footer>
