<app-header></app-header>
<div class="aaa2">
<div class="container pt-5 ft">
  <div class="row">
      <div class="col-lg-8">
          <!-- Post content-->
          <article>
              <!-- Post header-->
              <header class="mb-4 mt-5">
                  <!-- Post title-->
                  <h1 class="fw-bolder mb-1">Geek Out Event</h1>
                  <!-- Post meta content-->
              </header>
              <!-- Preview image figure-->
              <figure class="mb-3"><img class="img-fluid rounded" loading = "lazy"src="assets/images/geekout.jpg" alt="..." /></figure>
              <!-- Post content-->
              <section class="mb-5">
                <h4 class="fw-bolder mb-3 mt-5">About</h4>
                  <p class="fs-6 mb-4">Are you a geek keeping an eye out on latest tech in CS? Are you interested in the comprehensive details of computer science and proud of its relevance in this tech savvy world ?! Then here you are, GEEK OUT is for you ! Through GEEK OUT, Zeitgeist 2k23 intends to give that opportunity not just to test, but also to boost your cs love with  a wide variety of questions over myriad of  CS technologies ranging from the language of C, algorithms to the recent Data science. To put it simple, they can be anything from ENIAC to the buzzing CHATGPT .With just 2 stages to compete your peers, all being provided participation certificates and the top 3 with exciting prizes along with merit certificates, we are truly gonna GEEK OUT. So geeks, what are you waiting for? Go, get registered now..Lets GEEK OUT !! COME - DIVE INTO THE WORLD OF KWIZZING !!</p>
                  <h4 class="fw-bolder mb-3 mt-5">Event Format</h4>
                  <ul class = "fs-6 mb-3">
                    <li>Event is of 2 stages : Screening and Final.
                    </li>
                    <li>Both the stages are offline and are on the campus of JNTUK on 25th March, 2023.
                    </li>
                    <li>Screening stage is a written test with duration of 30 min and is an elimination round.
                    </li>
                    <li>Final stage may contain multiple rounds, following the quizzing  format - within just 3 hours after screening stage.
                    </li>
                    <li>Exact details  like no. of questions, no. of selections, informing the selected candidates  will be intimated once you are here on campus @zeitgeist_2k23.
                    </li>
                  </ul>
                  <h4 class="fw-bolder mb-3 mt-5">Registration Fee</h4>
                  <p class = "fs-6 mb-3">The registratio fee is 300/- per member</p>


                  <!-- <ul class = "fs-6 mb-4">
                    <li>Transformation in trading units.
                    </li>
                    <li>Cryptography and Crypto-currency
                    </li>
                    <li>Anonymity and Pseudonymity in Cryptocurrencies
                    </li>
                    <li>
                      Digital Signatures
                    </li>
                    <li>
                      Cryptocurrency Hash codes
                    </li>
                    <li>Peer to peer networks(structured and unstructured)</li>

                  </ul> -->
                  <!-- <ul class = "fs-6 mb-4">
                    <li> Introduction to Blockchain and its Origin.
                    </li>
                    <li>Why Blockchain is crucial and its objectives
                    </li>
                    <li>Anonymity and Pseudonymity in Cryptocurrencies
                    </li>
                    <li>
                      Digital Signatures
                    </li>
                    <li>
                      Cryptocurrency Hash codes
                    </li>
                    <li>Peer to peer networks(structured and unstructured)</li>

                  </ul> -->
                  <h4 class="fw-bolder mb-3 mt-5">Topics</h4>
                  <p class="fs-6 mb-3">Will be announced soon</p>
                  <h4 class="fw-bolder mb-3 mt-5">Instructions</h4>
                    <ul class = "fs-6 mb-3">
                      <li>Better register online , as spot registrations are very much limited.</li>
                      <li>Participation is individual and is open to students of any domain.
                      </li>
                      <li>Please restrain yourself from using or bringing mobile phones  or any digital equipment, while attending  GEEK OUT.
                      </li>
                      <li>Feel free to reach out to the co-ordinators on any minute queries.</li>
                      <li>You can contact any time or mail your query to the below provided mail id or contact numbers.</li>
                    </ul>
                    <h4 class="fw-bolder mb-3 mt-5">Prizes</h4>
                  <p class = "fs-6 mb-3">Will be announced soon</p>
              </section>
          </article>
      </div>
      <!-- Side widgets-->
      <div class="col-lg-4 pa1">
          <!-- Search widget-->

          <!-- Categories widget-->

          <!-- Side widget-->
          <div class="card mb-4">
              <div class="card-header aaa1">Contact Details</div>
              <div class="card-body">S. Sarath Kumar Reddy</div>
              <div class="card-body">N.S.P. Sreevani Sagari</div>
              <div class = "card-body"><span class = "fa fa-phone">&nbsp;9347508441</span></div>

              <div class="card-body"><a href = "mailto:geekoutzeitgeist@gmail.com" style = "color: black"><span class = "fa fa-envelope">&nbsp;geekoutzeitgeist@gmail.com</span></a></div>
          </div>
      </div>
  </div>
</div>
</div>
<app-footer></app-footer>
