<app-header></app-header>
<!-- Gallery -->


<section id="team" class="team">
  <div class="container p-5">

    <div class="section-title mb-5 text-center" data-aos="fade-up">
      <h2>JNTUK Gallery</h2>
      <!-- <p>Our team is always here to help</p> -->
    </div>

    <div class="row">



      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="card-1">
        <div class="member">
          <img src="assets\images\1200px-JNTU_Kakinada_Main_Gate_03.jpg" class="img-fluid aa1" loading = "lazy"alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>JNTUK</h4>
              <span>Main Gate</span>
            </div>

          </div>
        </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
        <div class="card-1">
        <div class="member">
          <img src="assets/images/entrance.jpg" loading = "lazy" class="img-fluid aa1" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>JNTUK</h4>
              <span>Entrance</span>
            </div>

          </div>
        </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
        <div class="card-1 shadow">
        <div class="member">
          <img src="assets/images/irc2.jpg" loading="lazy" class="img-fluid aa1" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Innovation Research Center</h4>
              <span>It consists of high configuration industrial setup</span>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
        <div class="card-1">
        <div class="member">
          <img src="assets/images/cse.jpg" loading="lazy" class="img-fluid aa1" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>JNTUK</h4>
              <span>CSE Department</span>
            </div>
          </div>
        </div>
      </div>
      </div>



    </div>

  </div>
  <div class="container p-5">



    <div class="row">



      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="card-1">
        <div class="member">
          <img src="assets/images/auditorium.jpg" loading = "lazy" class="img-fluid aa1" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>JNTUK</h4>
              <span>Alumini Auditorium</span>
            </div>

          </div>
        </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
        <div class="card-1">
        <div class="member">
          <img src="assets/images/adminstrative_block.jpeg" loading = "lazy"class="img-fluid aa1" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>JNTUK</h4>
              <span>Adminstrative Block</span>
            </div>

          </div>
        </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
        <div class="card-1 shadow">
        <div class="member">
          <img src="assets/images/examination.jpg" class="img-fluid aa1" loading="lazy" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>JNTUK</h4>
              <span>Examination Center</span>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
        <div class="card-1">
        <div class="member">
          <img src="assets/images/Dr.-B.-R.-AMBEDKAR-CENTRAL-LIBRARY.jpg" loading="lazy" class="img-fluid aa1" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Central Library</h4>
              <span>Andhra Pradesh's Biggest Library</span>
            </div>
          </div>
        </div>
      </div>
      </div>



    </div>

  </div>



  <div class="container p-5">



    <div class="row">



      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="card-1">
        <div class="member">
          <img src="assets/images/student.png" class="img-fluid aa1" loading="lazy" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>JNTUK</h4>
              <span>Student Amenity Center</span>
            </div>

          </div>
        </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
        <div class="card-1">
        <div class="member">
          <img src="assets/images/kakinada-indoor-stadium-kakinada-stadiums-orw7z88r0y-250 (1).jpg" class="img-fluid aa1" loading="lazy" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>JNTUK</h4>
              <span>Indoor Stadium</span>
            </div>

          </div>
        </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
        <div class="card-1 shadow">
        <div class="member">
          <img src="assets/images/381469512563.jpg" class="img-fluid aa1" loading = "lazy"alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>JNTUK</h4>
              <span>Senate Hall</span>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
        <div class="card-1">
        <div class="member">
          <img src="assets/images/JNTUK_sports_development.jpg" class="img-fluid aa1" loading = "lazy"alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>JNTUk</h4>
              <span>Stadium</span>
            </div>
          </div>
        </div>
      </div>
      </div>



    </div>

  </div>



</section><!-- End Team Section -->
<app-footer></app-footer>
