<app-header></app-header>
<div class="aaa2">
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post content-->
      <article>
        <!-- Post header-->
        <header class="mb-4 mt-5">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1">Blockchain Workshop</h1>
          <!-- Post meta content-->
          <div class="text-muted fst-italic mb-2" style="font-weight: bold;">
            ** Certifications from IIT-Bombay **<br />
            ** Internships will be awarded will be provided based on performance**
          </div>
        </header>
        <!-- Preview image figure-->
        <figure class="mb-3">
          <img
            class="img-fluid rounded" loading="lazy"
            src="assets/images/bitcoin-3374479_1280.webp"
            alt="..."
          />
        </figure>
        <!-- Post content-->
        <section class="mb-5">
          <h4 class="fw-bolder mb-3 mt-5">About</h4>
          <p class="fs-6 mb-4">
            "The blockchain is an incorruptible digital ledger of economic
            transactions that can be programmed to record not just financial
            transactions but virtually everything of value." - Don Tapscott,
            Co-founder of the Blockchain Research Institute.
          </p>
          <p class="fs-6 mb-3">
            Blockchain Technology has mainly evolved from a perspective of a
            decentralized financial system and promoting the cashless economy.
            The transactions made in Bitcoin or another cryptocurrency are
            recorded publicly and chronologically. This technology has radically
            improved the supply chain and other transactions network. Throwing
            light on the humane arena, "Blockchain is not just a protocol, it's
            not just a technical system, it's an entirely new way of organizing
            trust."
          </p>
          <h4 class="fw-bolder mb-3 mt-5">Objective</h4>
          <p class="fs-6 mb-4">
            The striving motto of this workshop is to provide a multi-faceted view and learnings of “Blockchain & Cryptocurrencies” for the aspirants. The potent takeaways include -
          </p>
          <ul class="fs-6 mb-3">
            <li>
              An overall understanding of Blockchain and its vital functionalities
            </li>
            <li>
              The major benefits and real-time applications into limelight.
            </li>
            <li>
              Learnings about decentralized networks and cryptocurrencies.
            </li>
            <li>A complete overview of Bitcoin and Bitcoin Mining.</li>
          </ul>

          <h4 class="fw-bolder mb-3 mt-5">Glimpses Of The Workshop</h4>
          <p class="fs-6 mb-3">Session I- Introduction to Cryptocurrency</p>
          <!-- <ul class = "fs-6 mb-4">
                    <li>Transformation in trading units.
                    </li>
                    <li>Cryptography and Crypto-currency
                    </li>
                    <li>Anonymity and Pseudonymity in Cryptocurrencies
                    </li>
                    <li>
                      Digital Signatures
                    </li>
                    <li>
                      Cryptocurrency Hash codes
                    </li>
                    <li>Peer to peer networks(structured and unstructured)</li>

                  </ul> -->
          <p class="fs-6 mb-3">Session II- Overview of Blockchain</p>
          <!-- <ul class = "fs-6 mb-4">
                    <li> Introduction to Blockchain and its Origin.
                    </li>
                    <li>Why Blockchain is crucial and its objectives
                    </li>
                    <li>Anonymity and Pseudonymity in Cryptocurrencies
                    </li>
                    <li>
                      Digital Signatures
                    </li>
                    <li>
                      Cryptocurrency Hash codes
                    </li>
                    <li>Peer to peer networks(structured and unstructured)</li>

                  </ul> -->
          <p class="fs-6 mb-3">
            Session III: Bitcoin and Blockchain Data Structures
          </p>
          <p class="fs-6 mb-3">Session IV- Bitcoin Mining</p>
          <h4 class="fw-bolder mb-3 mt-5">Registration</h4>
          <p class="fs-6 mb-3">Workshop's registration fee is 600/-</p>
          <h4 class="fw-bolder mb-3 mt-5">Duration</h4>
          <p class="fs-6 mb-3">
            The duration of this workshop will be two consecutive days, with 6-7
            hour session each day in a total of 12-14 hours.
          </p>
          <h4 class="fw-bolder mb-3 mt-5">Highlights</h4>
                    <p class = "fs-6 mb-3">A guaranteed internship with stipend will be provided to the participated students</p>
          <h4 class="fw-bolder mb-3 mt-5">Certification Policy</h4>
          <ul class="fs-6 mb-3">
            <li>
              Certificate of Merit for all the workshop participants from <span class = "fw-bolder">IIT Bombay</span> & Anvira Edustation.
            </li>
            <li>
              At the end of this workshop, a small competition will be organised
              among the participating students and winners will be awarded with
              a 'Certificate of Excellence'.
            </li>
            <li>Certificate of Coordination for the coordinators of the campus workshops.

                      </li>
          </ul>
          <h4 class="fw-bolder mb-3 mt-5">Eligibility</h4>
          <p class="fs-6 mb-3">
            It's a basic level workshop so there are no prerequisites. Anyone
            interested, can join this workshop.
          </p>
        </section>
      </article>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4 pa1">
      <!-- Search widget-->

      <!-- Categories widget-->

      <!-- Side widget-->
      <div class="card mb-4">
        <div class="card-header aaa1">Contact Details</div>
        <div class="card-body">
          B. Manikanta
        </div>
        <div class="card-body">
          A. Rajitha Sree
        </div>
        <div class = "card-body"><span class="fa fa-phone">&nbsp;9390308838</span></div>
        <div class="card-body">
          <a href = "mailto:blockchainzeitgeist@gmail.com" style="color: black;"><span class="fa fa-envelope"
            >&nbsp;blockchainzeitgeist@gmail.com</span
          ></a>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
