<app-header></app-header>
<div class="p-5 mt-5 main-div">
<h4 class="p-5">Well!
  It’s time to showcase your non-technical talent…
  All you can get from social media is surreal as some exciting events are up grab the opportunity.
  Hurry up... Explore more… Win more
  </h4>
  <div class="container">
    <div class="row shadow aa1 mb-5">
      <div class="col-12 col-md-5 p-5">
        <img src="assets/images/selfie2.jpg" class="img1" loading="lazy" />
      </div>
      <div class="col-12 col-md-7 p-5">
        <h2 class="pb-3">Selfie Clicks</h2>
        <p>Nowadays everyone takes selfies but ever thought you can win something by sharing those selfies. Yeah! you heard it right. what are you waiting for? Upload your selfies... Win prizes...
          Prize:
          </p>
      </div>
    </div>
    <div class="row shadow aa1 mb-5">
      <div class="col-12 col-md-5 p-5 order-md-2">
        <img src="assets/images/selfie.jpg" class="img1" loading="lazy"/>
      </div>
      <div class="col-12 col-md-7 p-5 order-1">
        <h2 class="pb-3">Photography contest</h2>
        <p>We have been the cameraman for all the events in our family or for any spectacular views. Bring it on and upload the best content clicked by you.
          Prize:
          </p>
      </div>
    </div>
    <div class="row shadow aa1 mb-5">
      <div class="col-12 col-md-5 p-5">
        <img src="assets/images/memes.jpg" class="img1" loading="lazy" />
      </div>
      <div class="col-12 col-md-7 p-5">
        <h2 class="pb-3">Meme contest</h2>
        <p>Almost everyone has Instagram accounts it's a never-ending scroll that we perform. Now stop enjoying the memes you scroll and start creating one and upload to be in the race to get declared as “Best Meme”.
          Prize:
          Okay! Now you might be wondering where to post. Don’t worry tag us just posting in your accounts. To tag refer below.
          Social Media: @zeitgeist_23
          </p>
      </div>
    </div>
    <div class="row shadow aa1 mb-5">
      <div class="col-12 col-md-5 p-5 order-md-2">
        <img src="assets/images/reels.jpg" class="img1" loading="lazy" />
      </div>
      <div class="col-12 col-md-7 p-5 order-1">
        <h2 class="pb-3">Reels contest</h2>
        <p>Reels contest is live now – Everyone has some hidden talent and we don’t usually get a chance to showcase that to larger groups. The time has come all you need to do is make reels by being there in the reel and post them.
          Prize:

          </p>
      </div>
    </div>
    <div class="col-lg-4 pa1">
      <!-- Search widget-->

      <!-- Categories widget-->

      <!-- Side widget-->
      <div class="card mb-4">
        <div class="card-header aaa1">Contact Details</div>
        <div class="card-body">
          Y. Aravind Kumar
        </div>
        <div class="card-body">
          P. Jahnavi
        </div>
        <div class = "card-body"><span class="fa fa-phone">&nbsp;8688482009</span></div>
        <div class="card-body">
          <a href = "mailto:blockchainzeitgeist@gmail.com" style="color: black;"><span class="fa fa-envelope"
            >&nbsp;zeitgeistaravind@gmail.com</span
          ></a>

        </div>
      </div>
    </div>

  </div>


</div>

<app-footer></app-footer>
