<app-header></app-header>
<div class="aaa2">
  <div class="container pt-5 ft">
    <div class="row">
      <div class="col-lg-8">
        <!-- Post content-->
        <article>
          <!-- Post header-->
          <header class="mb-4 mt-5">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">Tech Talk</h1>
            <!-- Post meta content-->
          </header>
          <!-- Preview image figure-->
          <figure class="mb-3">
            <img
              class="img-fluid rounded"
              src="assets/images/techtalk.jpg"
              loading="lazy"
              alt="..."
            />
          </figure>
          <!-- Post content-->
          <section class="mb-5">
            <h4 class="fw-bolder mb-3 mt-5">About</h4>
            <p class="fs-6 mb-4">
              “Technology is best when it brings people together.” - Matt
              Mullenweg, Social Media Entrepreneur
            </p>
            <p class="fs-6 mb-4">
              Portraying this, an astonishing opportunity, “ Tech Talks” is here
              to welcome techies from all the towns. Ranging from trending
              technlogies to core computings, from innovative ideas to digital
              dreams, this is a platform to showcase your individual interests.
              Oration being the tool to mould them into the best possible
              manner, what else is better for the quest? Fuel your
              self-confidence, choose a passionate arena, and present yourself
              adeptly. The stage is all set to gratify the aspirants. It’s your
              turn to break the barriers and delineate your dream domains.
            </p>

            <h4 class="fw-bolder mb-3 mt-5">Event Format</h4>
            <ul class="fs-6 mb-3">
              <li>
                The topics selected must be related to Computer Science and its
                related technologies only.
              </li>
              <li>Duration of the talk is 3-5 min ideally</li>
              <li>
                This is an exclusive event relating to your speech and no power
                point presentation or papers are needed.
              </li>
              <li>
               Tip- Use anecdotes, examples and quote the current statistics wherever required to make it
                appealing.
              </li>
            </ul>
            <h4 class="fw-bolder mb-3 mt-5">Registration Fee</h4>
            <p class="fs-6 mb-3">The participation fee is 300/- per member</p>

            <!-- <ul class = "fs-6 mb-4">
                    <li>Transformation in trading units.
                    </li>
                    <li>Cryptography and Crypto-currency
                    </li>
                    <li>Anonymity and Pseudonymity in Cryptocurrencies
                    </li>
                    <li>
                      Digital Signatures
                    </li>
                    <li>
                      Cryptocurrency Hash codes
                    </li>
                    <li>Peer to peer networks(structured and unstructured)</li>

                  </ul> -->
            <!-- <ul class = "fs-6 mb-4">
                    <li> Introduction to Blockchain and its Origin.
                    </li>
                    <li>Why Blockchain is crucial and its objectives
                    </li>
                    <li>Anonymity and Pseudonymity in Cryptocurrencies
                    </li>
                    <li>
                      Digital Signatures
                    </li>
                    <li>
                      Cryptocurrency Hash codes
                    </li>
                    <li>Peer to peer networks(structured and unstructured)</li>

                  </ul> -->
            <h4 class="fw-bolder mb-3 mt-5">Prizes</h4>
            <p class="fs-6 mb-3">Will be announced soon</p>
          </section>
        </article>
      </div>
      <!-- Side widgets-->
      <div class="col-lg-4 pa1">
        <!-- Search widget-->

        <!-- Categories widget-->

        <!-- Side widget-->
        <div class="card mb-4">
          <div class="card-header aaa1">Contact Details</div>
          <div class="card-body">K. Teja</div>
          <div class="card-body">G. Haritha</div>
          <div class="card-body">
            <span class="fa fa-phone">&nbsp;9963939416</span>
          </div>

          <div class="card-body">
            <a href="mailto:geekoutzeitgeist@gmail.com" style="color: black"
              ><span class="fa fa-envelope"
                >&nbsp;techtalkzeitgeist@gmail.com</span
              ></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
