

<!-- <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
	  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
	  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img src="assets/images/success-2081168.jpg" class="d-block w-100 img1" alt="...">
		<div class="carousel-caption d-none d-md-block">
		  <h3>Zest Business Solutions</h3>
		  <h5>Prime Business Solutions with Affordability</h5>
		</div>
	  </div>
	  <div class="carousel-item">
		<img src="assets/images/sunset-1807524_1920.jpg" class="d-block w-100 img2" alt="...">
		<div class="carousel-caption d-none d-md-block">
		  <h3>Consulting</h3>
		  <h5>Partnering with Clients to Provide the Best Solutions</h5>
		</div>
	  </div>
	  <div class="carousel-item">
		<img src="assets/images/job-5382501_1920.jpg" class="d-block w-100 img3" alt="...">
		<div class="carousel-caption d-none d-md-block">
		  <h3>Training</h3>
		  <h5>Technical Training and Empowerment</h5>
		</div>
	  </div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button>
</div> -->


<!-- <header id="header" class="fixed-top d-flex align-items-center header-transparent">
  <div class="container d-flex justify-content-between align-items-center">

    <div class="logo">
      <h1 class="text-light"><span>Zeitgeist</span></h1>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="home()">Home</a></li>
        <li><a href="about()">About</a></li>
        <li><a href="workshops()">Workshops</a></li>
        <li class="dropdown"><a href="#"><span>Events▼</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="technical_events()">Technical Events</a></li>
            <li><a href="onlineevents()">Online Events</a></li>
          </ul>
        </li>
        <li><a href = "accomdation()">Accomdations</a></li>
        <li><a href="sponsors()">Sponsors</a></li>
        <li><a href="gallery()">Gallery</a></li>

        <li><a href="contact()">Contact Us</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <i class = "fa-solid fa-grid-2"></i>

<div class="btn-group" id="aa1">
  <button type="button" class="btn dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-solid fa-2x fa-bars"></i>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="home()">Home</a></li>
    <li><a class="dropdown-item" href="about()">About</a></li>
    <li><a class="dropdown-item" href="workshops()">Workshops</a></li>
    <li><a class="dropdown-item" href="technical_events()">Technical Events</a></li>
    <li><a class="dropdown-item" href="onlineevents()">Online Events</a></li>
    <li><a class="dropdown-item" href="accomdation()">Accomdations</a></li>
    <li><a class="dropdown-item" href="sponsors()">Sponsors</a></li>
    <li><a class="dropdown-item" href="gallery()">Gallery</a></li>
    <li><a class="dropdown-item" href="contact()">Contact Us</a></li>
  </ul>
</div>

</div>
</header>


<section id="hero" class="d-flex justify-cntent-center align-items-center">
  <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">


    <div class="carousel-item active">
      <div class="carousel-container">
        <div class="container">
        <div class="row">
        <div class="col-4 mt-4">
          <img src="assets/images/Zeitgeist_Logo.png" class="image1" />
        </div>
        <div class="col-8 mr-auto">
        <h2 class="animate__animated animate__fadeInDown"><span>Zeitgeist</span></h2>
        <p class="animate__animated animate__fadeInUp">Department Of Computer Science And Engineering</p>
        <p class="animate__animated animate__fadeInUp">University College Of Engineering(A), JNTU Kakinada</p>
        <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
      </div>
    </div>
  </div>
      </div>
    </div>


    <div class="carousel-item">
      <div class="carousel-container">
        <div class="container">
          <div class="row">
          <div class="col-4 text-center mt-4">
            <img src="assets/images/Zeitgeist_Logo.png" class="image1" />
          </div>
          <div class="col-8 text-center">
            <h2 class="animate__animated animate__fadeInDown">National Level Technical Carnival</h2>
            <p class="animate__animated animate__fadeInUp">It's a whole spectrum of technical events, workshops and fun loaded activities!</p>
            <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>
    </div>
      </div>
    </div>


    <div class="carousel-item">
      <div class="carousel-container">
        <div class="container">
          <div class="row">
          <div class="col-3 mt-4">
            <img src="assets/images/Zeitgeist_Logo.png" class="image1" />
          </div>
          <div class="col-8 text-center">
            <h2 class="animate__animated animate__fadeInDown">Compile Your Confidence</h2>
        <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
        <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>
    </div>

      </div>
    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</section>

<app-footer></app-footer>
 -->



<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><img  class = "mr-2" src="assets/images/Zeitgeist_Logo.png" loading = "lazy" width="40" height="200"/><a style="font-family: 'Courier New', Courier, monospace !important;">  ZEITGEIST</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>

          <li><span class="ll1" (click)="home()">Home</span></li>
          <li><span class="ll1" (click)="about()">About</span></li>
          <li><span class="ll1" (click)="workshops()">Workshops</span></li>
          <li class="dropdown"><a><span class="ll3">Events▼</span><i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><span class="ll1 ll2" (click)="technical_events()">Technical Events</span></li>

              <li><span class="ll1 ll2" (click)="onlineevents()">Online Events</span></li>
            </ul>
          </li>
          <li><span class="ll1" (click)="contests()">Contests</span></li>

          <li><span class="ll1" (click)="accomdation()">Accomodations</span></li>
          <li><span class="ll1" (click)="sponsors()">Sponsors</span></li>

          <li><span class="ll1" (click)="gallery()">Gallery</span></li>

          <li><span class="ll1 " (click)="contact()">Contact Us</span></li>
          <li *ngIf="name.length > 0"><span class="ll1">Welcome, {{name}}</span>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <div class="btn-group" id="aa1">
        <button type="button" class="btn dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
          <i class="fa fa-solid fa-2x fa-bars"></i>
        </button>
        <ul class="dropdown-menu">
          <li><span class="dropdown-item l11" (click)="home()">Home</span></li>
          <li><span class="dropdown-item l11" (click)="about()">About</span></li>
          <li><span class="dropdown-item l11" (click)="workshops()">Workshops</span></li>
          <li><span class="dropdown-item l11" (click)="technical_events()">Technical Events</span></li>
          <li><span class="dropdown-item l11" (click)="onlineevents()">Online Events</span></li>
          <li><span class="dropdown-item l11" (click)="accomdation()">Accomodations</span></li>
          <li><span class="dropdown-item l11" (click)="sponsors()">Sponsors</span></li>
          <li><span class="dropdown-item l11" (click)="gallery()">Gallery</span></li>
          <li><span class="dropdown-item l11" (click)="contact()">Contact Us</span></li>
        </ul>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1 class="heading">ZEITGEIST '23</h1>
          <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">&nbsp;&nbsp;Computing Meets Creativity, Aura Greets Amity</h2><br/>
          <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">&nbsp;&nbsp;Depatment of Computer Science And Engineering</h2><br/>
          <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">&nbsp;&nbsp;University College of Engineering Kakinada(A), JNTUK</h2>
          <button *ngIf="name.length == 0" class="bt1 mt-5 ll1" (click)="login()">Login/Register</button>
          <button *ngIf="name.length > 0" class="bt1 mt-5 ll1" (click)="logout()">Logout</button>
          <h2 id = "aa1" class="mt-5" style="color:white; font-family: 'Times New Roman', Times, serif; " *ngIf="name.length > 0"><span> Welcome {{name}}</span></h2>
          </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-5 col-md-4">
          <!-- <div class="">
            <i class="ri-store-line"></i>
            <div class="d-flex justify-content-center">
              <p #days class="timer-span"> </p><span class="timer-span">Days&nbsp;:&nbsp;</span>
              <p #hours class="timer-span"></p><span class="timer-span">Hours&nbsp;:&nbsp;</span>
              <p #minutes class="timer-span"></p><span class="timer-span">Minutes&nbsp;:&nbsp;</span>
              <p #seconds class="timer-span"></p><span class="timer-span">Seconds&nbsp;&nbsp;</span>
            </div>
          </div> -->
          <div class="count-down-timer">
            <p>Countdown to {{ currentTime }}</p>
            <div class="wrapper">
              <div class="description">
                <p class="timer-span">Days</p>
                <p class="timer-span">Hours</p>
                <p class="timer-span">Minutes</p>
                <p class="timer-span">Seconds</p>
              </div>
              <div class="times">
                <p #days class="timer-span"></p>
                <p #hours class="timer-span"></p>
                <p #minutes class="timer-span"></p>
                <p #seconds class="timer-span"></p>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </section>
  <!-- End Hero -->


</body>
<app-footer></app-footer>

